$bootstrap-sm: 768px;
$bootstrap-md: 992px;
$bootstrap-lg: 1200px;


$color_charleston_green: #2D2D2D;
$color_baby_powder: #FDFDFD;
$color_vermilion: #E03913;
$color_smokey_topaz: #8A220B;
$color_gainsboro: #DDDDDD;
$color_white_smoke: #F4F4F4;
$color_platinum: #E4E4E4;
$color_fulvous: #E07C11;
$color_trolley_grey: #7F7F7F;


$color_background: $color_white_smoke;
$color_background_dark: $color_charleston_green;
$color_background_dark_grey: $color_trolley_grey;
$color_background_grey: $color_platinum;
$color_background_white: $color_baby_powder;
$color_background_red: $color_vermilion;
$color_text: $color_charleston_green;
$color_text_grey: $color_trolley_grey;
$color_text_white: $color_baby_powder;
$color_link: $color_charleston_green;
$color_link_hover: $color_vermilion;
$color_link_alt_hover: $color_fulvous;
$color_separation: $color_gainsboro;
$color_input_border: $color_charleston_green;
$color_input_tags_background: $color_vermilion;
$color_popular_tags_background: $color_smokey_topaz;